
<html ng-app="guruzleApp">
<head>
    <title>Guruzle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
    <link href="css/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-controller="homeCtrl">
 <div class="jumbotron text-center">
        <h1 ng-bind="brand"></h1>
        <span class ="label label-info" ng-bind="address"></span>
        <br><br>
        <!-- <h3 ng-bind="address"></h2> -->
        <div class="row">
         <div class='col-lg-3'></div>
         <div class='col-lg-6'>
            <div class="input-group">
              <input type="text" class="form-control" ng-model = "filterText" placeholder="Filter tweets...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onClickFilter()">Search</button>
              </span>
            </div>
            </div>
            <div class='col-lg-3'></div>
        </div>
</div>
</div>
        <div ng-repeat="status in tweets.statuses">
        <div class = "row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <img src={{status.image_url}}> from <a href={{status.map_url}}>{{status.location}}</a> at {{status.time}} <br>
        <blockquote><p>"{{status.text}}"</p><p><small>{{status.name}}</small></p></blockquote>
        <a href={{status.user_url}}>{{status.user_url}}</a>
        </div>
        <div class="col-md-3"></div>
        </div>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</body>
</html>
